body {
  font-size: 16px;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
  padding: 0;
}
p {
  margin-left: auto;
  color: black;
  height: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

#content {
 padding: 10px;
 font-size: 1em;
}

#box {
  background-color: #e0592a;
  border: 1px solid black;
  margin: 10px;
  height: 1000px;
}
h1 {
  margin: 20px;
  font-size: 1.75em;
  color: black;
}

#main-content{
  padding: 0px;
  /*margin: 0px;*/
}

/** HEADER **/
#header-nav {
  background-color: #fbf4e1;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #f6b319;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  padding: 0px;
  padding-bottom: 0px;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
container>.navbar-collapse{
  margin-right: 0px;
  margin-left: 0px;
}

/********** Large devices only *********/
@media (min-width: 1200px) {
  #header-nav {
  padding-bottom: 25px;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #header-nav {
  padding-bottom: 25px;
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav {
  padding-bottom: 25px;
}
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */  
  #collapsable-nav a {  Collapsed nav menu text 
    font-size: 1.2em;
    
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;

